@model IEnumerable<Exam.CoreApplication.Domain.Prestataire>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrestataireNom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrestataireTel)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.PageInstagram)
        </th>

 
        <th>
            @Html.DisplayNameFor(model => model.Zone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrestataireNom)
        </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrestataireTel)
                </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PageInstagram)
        </td>

        
        <td>
            @Html.DisplayFor(modelItem => item.Zone)
        </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.PrestataireId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.PrestataireId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.PrestataireId">Delete</a> |
            @Html.ActionLink("Prestation","","Prestation",new {id=item.PrestataireId})
        </td>
    </tr>
}
    </tbody>
</table>
