@model Exam.CoreApplication.Domain.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissacne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissacne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumDossier">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
