@model IEnumerable<Exam.CoreApplication.Domain.Expertise>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Expertises</h1>
<form asp-action="index">
    <fieldset>
        <legend> Recherche</legend>
        Saisir un type d'assurance :

            
        <select  
            asp-items="Html.GetEnumSelectList<Exam.CoreApplication.Domain.TypeAssurance>()"
            name="typeAssurance" >
            <option> Selectionner le type </option>
   
        </select>

        <input type="submit" value="Serach" />
    </fieldset>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateExpertise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvisTechnique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontantEstime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinistreFk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sinistre.Assurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpertFk)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateExpertise)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvisTechnique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontantEstime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinistreFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinistre.Assurance.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpertFk)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
